# Emacs backup stuff
.#*
.yas-compiled-snippets.el
ac-comphist.dat
autosave
backup
elpa
tramp
configuration.el
.mc-lists.el
.custom.el
.work.el
*.elc
session.*
%backup%*
var
url
recentf
eshell
abbrev_defs
irony
semanticdb
boilerplates/dd.txt
bookmarks
nov-places
