# Emacs backup stuff
.#*
.yas-compiled-snippets.el
/autosave
/backup
/elpa
tramp*
configuration.el
.mc-lists.el
.custom.el
.work.el
*.elc
session.*
%backup%*
/var
/url
/recentf
/eshell
abbrev_defs
/boilerplates/dd.txt
/bookmarks
/nov-places
/emojis
/emms
autosave*
/transient
.cask
/org-roam.db
/.org-id-locations
/eln-cache
/history
/devdocs
/dtache
/projects
